Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

Read the Excel file into Dataframe

In [2]:
df = pd.read_excel("all_table_definitions.xlsx")
df

       Field Name     | Description                                                                                 | Domain          | Datatype     Physic.| Mand. | Acti  | Refer.   Reference
0       1  indt      |                                ...
1       2  dsca      |                                ...
2       3  wfrc      |                                ...
3       4  wftd      |                                ...
4       5  wfic      |                                ...
...                                                   ...
533701  4    | Item, Serial, Warehouse, Lot, Location,...
533702  |                                        ( Par...
533703  5    | Warehouse, Item, Project               ...
533704  |                                        ( Par...
533705  ----------------------------------------------...

[533706 rows x 1 columns]

Rename the column of the Dataframe

In [3]:
df.rename(columns={'Field Name     | Description                                                                                 | Domain          | Datatype     Physic.| Mand. | Acti  | Refer.   Reference':'General'}, inplace=True)

In [4]:
df

                                                  General
0       1  indt      |                                ...
1       2  dsca      |                                ...
2       3  wfrc      |                                ...
3       4  wftd      |                                ...
4       5  wfic      |                                ...
...                                                   ...
533701  4    | Item, Serial, Warehouse, Lot, Location,...
533702  |                                        ( Par...
533703  5    | Warehouse, Item, Project               ...
533704  |                                        ( Par...
533705  ----------------------------------------------...

[533706 rows x 1 columns]

Filter the data to get only the necessary rows

In [4]:
list_numbers = str([1, 2, 3, 4, 5, 6, 7, 8, 9])
df1 = df[df['General'].astype(str).str.startswith(tuple(list_numbers))]
df1

                                                  General
0       1  indt      |                                ...
1       2  dsca      |                                ...
2       3  wfrc      |                                ...
3       4  wftd      |                                ...
4       5  wfic      |                                ...
...                                                   ...
533695  1    | Item, Warehouse, Lot, Location, Invento...
533697  2    | Item,Warehouse,Eff.Unit,Lot,Location,In...
533699  3    | Warehouse, Item, Lot, Location, Invento...
533701  4    | Item, Serial, Warehouse, Lot, Location,...
533703  5    | Warehouse, Item, Project               ...

[236889 rows x 1 columns]

Split the data in to the readable columns

In [5]:
df2 = df1.copy()
df2[['Field Name', 'Description', 'Domain', 'Datatype Physic.', 'Mand.',  'Acti',  'Refer. Reference']] = df2['General'].str.split('|', expand=True)
df2.drop(columns='General', inplace=True)
df2

,Field Name,Description,Domain,Datatype Physic.,Mand.,Acti,Refer. Reference
0,1 indt,...,tcdate,UTC Date/T 4,No,Yes,Not applicab
1,2 dsca,...,tcmcs.str50m,Multibyte 200,No,Yes,Not applicab
2,3 wfrc,...,asint.wfld,0,No,Yes,Not applicab
3,4 wftd,...,asint.wfld,0,No,Yes,Not applicab
4,5 wfic,...,asint.wfld,0,No,Yes,Not applicab
...,...,...,...,...,...,...,...
533695,1,"Item, Warehouse, Lot, Location, Inventory Dat...",item cwar clot loca idat ...,No,Yes,None,None
533697,2,"Item,Warehouse,Eff.Unit,Lot,Location,Inv. Dat...",item cwar effn clot loca ...,Yes,Yes,None,None
533699,3,"Warehouse, Item, Lot, Location, Inventory Dat...",cwar item clot loca idat ...,No,Yes,None,None
533701,4,"Item, Serial, Warehouse, Lot, Location, Inven...",item serl cwar clot loca ...,No,Yes,None,None
533703,5,"Warehouse, Item, Project ...",cwar item cprj cspa cact ...,No,Yes,None,None

Cleaning up the number in the Field Name column

In [6]:
df2['Field Name'] = df2['Field Name'].str.replace(list_numbers, "")
df2.head()

C:\Users\tandu\AppData\Local\Temp\ipykernel_13988\3355911823.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['Field Name'] = df2['Field Name'].str.replace(list_numbers, "")

,Field Name,Description,Domain,Datatype Physic.,Mand.,Acti,Refer. Reference
0,indt,...,tcdate,UTC Date/T 4,No,Yes,Not applicab
1,dsca,...,tcmcs.str50m,Multibyte 200,No,Yes,Not applicab
2,wfrc,...,asint.wfld,0,No,Yes,Not applicab
3,wftd,...,asint.wfld,0,No,Yes,Not applicab
4,wfic,...,asint.wfld,0,No,Yes,Not applicab

Cleaning the bank rows in 2 columns

In [7]:
Clean_columns = ['Field Name', 'Description']

for column in Clean_columns:
    df2[column] = df2[column].str.strip()
    df2[column].replace('', np.nan, inplace=True)
    df2 = df2[df2[column].notna()]
    
df2

C:\Users\tandu\AppData\Local\Temp\ipykernel_13988\2111717344.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column] = df2[column].str.strip()
C:\Users\tandu\AppData\Local\Temp\ipykernel_13988\2111717344.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[column].replace('', np.nan, inplace=True)

,Field Name,Description,Domain,Datatype Physic.,Mand.,Acti,Refer. Reference
0,indt,(asint000.efdt ),tcdate,UTC Date/T 4,No,Yes,Not applicab
31,indt,(asint000.efdt ),tcdate,UTC Date/T 4,No,Yes,Not applicab
159,crpl,(cnv002.crpl ),tcyesno,Enumerated 1,No,Yes,Not applicab
189,crpl,(cnv002.crpl ),tcyesno,Enumerated 1,No,Yes,Not applicab
219,crpl,(cnv002.crpl ),tcyesno,Enumerated 1,No,Yes,Not applicab
...,...,...,...,...,...,...,...
533678,qals,Inventory Allocated Serial,tcqiv1,Double 8,No,Yes,Not applicab
533679,0qneg,Negative Advised Quantity to Ignore,tcqiv1,Double 8,No,Yes,Not applicab
533680,cstr,Corrected in Storage Unit,tcyesno,Enumerated 1,No,Yes,Not applicab
533681,cmba,Warehouse/Location ...,,,,,whwmd300 Mandatory un
533684,cmbb,"Warehouse, Item, Lot",,,,,Not applicab

Remove the duplicate values in 2 columns

In [8]:
df2 = df2.drop_duplicates(
  subset = ['Field Name', 'Description'],
  keep = 'last').reset_index(drop = True)
df2

,Field Name,Description,Domain,Datatype Physic.,Mand.,Acti,Refer. Reference
0,indt,(asint000.efdt ),tcdate,UTC Date/T 4,No,Yes,Not applicab
1,crpl,(cnv002.crpl ),tcyesno,Enumerated 1,No,Yes,Not applicab
2,hssd,(bccnv000.hssd1 ),bccnv.path,String 255,No,Yes,Not applicab
3,prog,(cnv.cor ),bccnv.cor,Enumerated 1,Yes,Yes,Not applicab
4,cntr,(bccnv223.count ),bccnv.lg06,Long 4,No,Yes,Not applicab
...,...,...,...,...,...,...,...
61164,qals,Inventory Allocated Serial,tcqiv1,Double 8,No,Yes,Not applicab
61165,0qneg,Negative Advised Quantity to Ignore,tcqiv1,Double 8,No,Yes,Not applicab
61166,cstr,Corrected in Storage Unit,tcyesno,Enumerated 1,No,Yes,Not applicab
61167,cmba,Warehouse/Location ...,,,,,whwmd300 Mandatory un
61168,cmbb,"Warehouse, Item, Lot",,,,,Not applicab

Save the data to Excel file

In [10]:
df2.to_excel('Dataset.xlsx')